#userImage {
	max-width: 100%;
	border-radius: 3px;
	margin-bottom: 10px;
  }
  #userDetails {
	padding-left: 20px;
  }
  .label {
	font-weight: bold;
  }
  .centerDetails {
	text-align: center;
  }